<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <p>Content goes here.</p>

    <img alt="nice" width="100" src=<%= require('./img/image01.jpg') %>>
</body>
</html>